
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '~startbootstrap-sb-admin/scss/sb-admin';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}


@import '~jquery-ui/themes/base/all.css';



.sidebar {
  .dropdown-menu {
    background: #212529;
    border: none;

    a {
      color: rgba(255, 255, 255, 0.5);
      &:hover,
      &:active,
      &:focus {
        background: transparent;
        color: rgba(255, 255, 255, 0.8);
      }
    }
  }
}